select id, nameEntity, comment, active from library."libEntity";
select id, "nameDivision", organisation, active from library."libDivision";
select id, fio, position, coments from library."libJobEmployee";
select id, "numberPlace", coments from library."libJobPlace";
select id, name, current, "dateCreate", "binFiles" from library."libSchemaDoc";
select id, "nameStepProject", comment from library."libStepProject";
--==============================================================================================
--Справочники

INSERT INTO library."libEntity" (nameEntity, comment) VALUES ('ООО "ЦИТРБ"', 'ранее ООО "ГАЗ ИТ-Сервис"');

INSERT INTO library."libDivision" ("nameDivision", organisation) VALUES ('СВА/КРД', 'НижКомАвто');
INSERT INTO library."libDivision" ("nameDivision", organisation) VALUES ('Юридическое подразделение', 'НижКомАвто');
INSERT INTO library."libDivision" ("nameDivision", organisation) VALUES ('Архивное дело', 'НижКомАвто');
INSERT INTO library."libDivision" ("nameDivision", organisation) VALUES ('Оснастка', 'НижКомАвто');
INSERT INTO library."libDivision" ("nameDivision", organisation) VALUES ('Бухгалтерия', 'НижКомАвто');

INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Зайцев М.А.', '2-й этаж', 'уточнить новое место');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Костюк А.В.', '52', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Каманина Л.А.', '64', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Григорьев Д.М.', '65', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Жирнов С.А.', '58', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Квочкин А.Ю.', '66', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Квочкин А.Ю.', 'новый', 'Не подключен,  возле Торопова М.В.');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Мергазымова О.В.', 'Шкаф', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Мергазымова О.В.', '59', ' ');
INSERT INTO library."libJobEmployee" (fio, position, coments) VALUES ('Торопов М.В.', '51', ' ');

INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('51', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('59', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('66', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('58', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('64', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('52', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('новый', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('шкаф', '10 этаж, 11 кабинет');
INSERT INTO library."libJobPlace" ("numberPlace", coments) VALUES ('2-й этаж', '10 этаж, 11 кабинет');


INSERT INTO library."libSchemaDoc" (name, "dateCreate", "binFiles") VALUES ('Акт по тестированию', '26.09.2024', ' ');
INSERT INTO library."libSchemaDoc" (name, "dateCreate", "binFiles") VALUES ('Акт ввода в промышленную эксплуатацию', '26.09.2024', ' ');

INSERT INTO library."libSchemaDoc" (name, "dateCreate", "binFiles")
VALUES ('Протокол встреч из DV, РКИТ', '10.04.2024', pg_read_binary_file('E:\Документы\ТЗ\Реестр работ\2023\Архивное дело\Протоколы\02102024\Протокол 1-02102024_DV.docx'));
INSERT INTO library."libSchemaDoc" (name, "dateCreate", "binFiles")
VALUES ('Протокол встреч из DV, РКИТ', '10.04.2024', pg_read_binary_file('E:\Документы\ТЗ\Реестр работ\2023\Архивное дело\Протоколы\02102024\Протокол 1-02102024.docx'));
INSERT INTO library."libSchemaDoc" (name, "dateCreate", "binFiles")
VALUES ('Акт ввода в промышленную эксплуатацию', '26.09.2024', pg_read_binary_file('C:\Users\KvochkinAY\Desktop\tmp\Акт по ЮЛ.docx'));
INSERT INTO library."libSchemaDoc" (name, "dateCreate", "binFiles")
VALUES ('Акт по тестированию', '26.09.2024', pg_read_binary_file('C:\Users\KvochkinAY\Desktop\tmp\Акт по ЮЛ тестирование.docx'));

INSERT INTO library."libStepProject" ("nameStepProject", comment) VALUES ('Протоколы', 'Приказы, решения');
INSERT INTO library."libStepProject" ("nameStepProject", comment) VALUES ('Проектые документы/Устав', 'Устав, Договора, документы Ю.Л.');
INSERT INTO library."libStepProject" ("nameStepProject", comment) VALUES ('Техническое описание', 'ЧТЗ, документация');
INSERT INTO library."libStepProject" ("nameStepProject", comment) VALUES ('Сдача проекта', 'Руководства пользователя/администратора, тех.документация');

--Справочники
--==============================================================================================
SELECT * FROM library."projectsList"
1,СВА/КРД
2,Юридическое подразделение
3,Архивное дело
4,Оснастка
5,Бухгалтерия


INSERT INTO library."projectsList" (name, "id_Division", "headManager", "responsibleFromBusiness", curator)
VALUES ('СВА', 1, 'Иванец', 'Маньков М., Шегуров', 'Квочкин А.Ю.');
INSERT INTO library."projectsList" (name, "id_Division", "headManager", "responsibleFromBusiness", curator)
VALUES ('Экосистема юристов', 2, 'Костин', 'Чернышев С.В.', 'Квочкин А.Ю.');
INSERT INTO library."projectsList" (name, "id_Division", "headManager", "responsibleFromBusiness", curator)
VALUES ('Архивное делопроизводство', 3, 'Сухарева', '', 'Квочкин А.Ю.');
INSERT INTO library."projectsList" (name, "id_Division", "headManager", "responsibleFromBusiness", curator, closed)
VALUES ('Оснастка', 4, '', '', 'Мергазымова О.В.', true);
INSERT INTO library."projectsList" (name, "id_Division", "headManager", "responsibleFromBusiness", curator)
VALUES ('Постановка и исполнение целей KPI сотрудников', 5, '', 'Куликова, Маргун Елена Валерьевна', 'Мергазымова О.В.');

SELECT id, "id_Entity","name_Division", comment, active FROM library."libEntityDivision";
select id, nameEntity, comment, active from library."libEntity";

INSERT INTO library."libEntityDivision" ("id_Entity", "name_Division", comment)
VALUES (7, 'Департамент сопровождения корпоративных информационных систем СЭД DocsVision', 'СЭД DocsVision');

SELECT id, "id_EntityDivision", "id_ProjectsList", "numberDogovor", "linkForDogovor", "dateCreate", "dateStart", "dateEnd", owner, files, "summaProject", opex, capex, cancel FROM projects."projectsBudger"
    3,СВА
4,Экосистема юристов
5,Архивное делопроизводство
6,Оснастка
7,Постановка и исполнение целей KPI сотрудников

INSERT INTO projects."projectsBudger" ("id_EntityDivision", "id_ProjectsList", "numberDogovor", "linkForDogovor", "dateCreate", "dateStart", "dateEnd", owner, files, "summaProject", opex, capex, cancel)
VALUES (1,
        4,
        '№ 4 ДУ02/0021/017/21 : СД08/0068/017/23 от 26.09.2023 доверенность Е.А. 1/017/24 от 18.12.23',
        'http://sdo.gaz.ru/Docsvision/?CardID={A63C4FD3-191F-4263-8DEA-CCB0870B83B3}&ShowPanels=2048&',
        '2024-09-18',
        '2024-09-18',
        '2025-02-24',
        'Костин, Чернышев'
       ,pg_read_binary_file('C:\\Users\\KvochkinAY\\Desktop\\tmp\\1\\Решение 72.001 от 11.02.22 Об утверждении функциональных требований заказчика.pdf'),
        16000000,
        5596000,
        0,
        false);

INSERT INTO projects."projectsBudger" ("id_EntityDivision", "id_ProjectsList", "numberDogovor", "linkForDogovor", "dateCreate", "dateStart", "dateEnd", owner, "summaProject", opex, capex, cancel)
VALUES (1,
        5,
        '№ 4 ДУ02/0021/017/21 : СД08/0068/017/23 от 26.09.2023 доверенность Е.А. 1/017/24 от 18.12.23',
        'http://sdo.gaz.ru/Docsvision/?CardID={A63C4FD3-191F-4263-8DEA-CCB0870B83B3}&ShowPanels=2048&',
        '2024-09-18',
        '2024-09-18',
        '2024-12-31',
        'Манзурина',
        0,
        0,
        0,
        false);
INSERT INTO projects."projectsBudger" ("id_EntityDivision", "id_ProjectsList", "numberDogovor", "linkForDogovor", "dateCreate", "dateStart", "dateEnd", owner, files, "summaProject", opex, capex, cancel)
VALUES (1,
        3,
        '№ 4 ДУ02/0021/017/21 : СД24/0003/017/22',
        'http://sdo.gaz.ru/Docsvision/?CardID={8DAC3703-384B-4140-AEE2-3C61A8FFF077}&ShowPanels=2048&',
        '2021-09-19',
        '2021-09-19',
        '2024-09-30',
        'Иванец, Лавров, Шегуров, Маньков'
           ,pg_read_binary_file('C:\\Users\\KvochkinAY\\Desktop\\tmp\\1\\решение 510 от 02.06.2022.pdf'),
        2380000,
        2155000,
        0,
        false);

INSERT INTO projects."projectsBudger" ("id_EntityDivision", "id_ProjectsList", "numberDogovor", "linkForDogovor", "dateCreate", "dateStart", "dateEnd", owner, files, "summaProject", opex, capex, cancel)
VALUES (1,
        6,
        '№ 4 ДУ02/0021/017/21 : СД08/0021/017/23 от 26.09.2023 доверенность Е.А. 1/017/24 от 18.12.23',
        'http://sdo.gaz.ru/Docsvision/?CardID={25DA3AD3-C41B-478E-A1E4-79525C0BE3C4}&ShowPanels=2048&',
        '2023-12-04',
        '2024-01-15',
        '2024-04-30',
        ''
           ,pg_read_binary_file('C:\\Users\\KvochkinAY\\Desktop\\tmp\\1\\Проектное решение Оснастка v2.docx'),
        1082500,
        1082500,
        0,
        true);

INSERT INTO projects."projectsBudger" ("id_EntityDivision", "id_ProjectsList", "numberDogovor", "linkForDogovor", "dateCreate", "dateStart", "dateEnd", owner, files, "summaProject", opex, capex, cancel)
VALUES (1,
        7,
        '',
        '',
        '2024-10-07',
        '2024-10-01',
        '2025-11-28',
        'Маргун Елена Валерьевна, Куликова'
           ,pg_read_binary_file('C:\\Users\\KvochkinAY\\Desktop\\tmp\\1\\549 Протокол №549_084 от 13-09-2024 .pdf'),
        7329000,
        0,
        0,
        false);
