<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/menu/menu.css">
</head>
<body>
<nav>
    <ul class="topmenu">
        <li><a href="/">Главная -</a></li>
        <li><a href="" class="down">Справочник -</a>
            <ul class="submenu">
                <li><a href="/entity">Юр. лица</a></li>
                <li><a href="/division">Отдел / подразделения</a></li>
                <li><a href="/employee">Сотрудники</a></li>
                <li><a href="/jobplace">Рабочие места</a></li>
                <li><a href="/stepproject">Этапы проекта</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Проекты -</a>
            <ul class="submenu">
                <li><a href="/projectlist">Проекты</a></li>
                <li><a href="/planpayproject">План оплат проектов</a></li>
                <li><a href="/factpayment">Факт оплаты проектов</a></li>
                <li><a href="/binstorage">Хранилице файлов</a></li>
            </ul>
        </li>
        <li><a href="/schemadoc" class="down">Шаблоны -</a></li>
        <li><a href="" class="down">Блог</a>
            <ul class="submenu">
                <li><a href="/blog">Публикации</a></li>
                <li><a href="/newblog">Новая публикация</a></li>
                <li><a href="/blogall">Все публикации</a></li>
            </ul>
        </li>
    </ul>
</nav>

<h1 th:text>Заголовок страницы</h1>
<!--<p th:utext="${blogs.get(0).content}">Это пример параграфа текста, который вы можете использовать для написания блога.</p>-->
<div class="container mb-4 justify-content-center align-items-center form-control" style="width: 1200px;">
    <table id="productTable" class="display compact">
        <thead>
        <div id="navbar">
            <tr>
                <th hidden=""></th>

                <th>Дата блога</th>
                <th>Заголовок</th>
                <th>Контент</th>
                <th>Для публикации</th>

                <th>Редакция</th>
<!--                <th></th>-->
            </tr>
        </div>
        </thead>
        <tbody>
        <tr th:each="blog : ${blogs}">
            <td th:hidden="${blog.id}"></td>
            <td th:text="${#dates.format(blog.getDcreate(), 'dd-MM-yyyy')}"></td>
            <td th:text="${blog.getTitle()}"></td>
            <!--            <td><h3 th:text="${blog.getTitle()}"></h3></td>-->
            <td th:utext="${blog.getContent()}"></td>
            <td th:text="${blog.getShow()} ? 'для публикации': 'закрыто'"></td>


            <td><a th:href="@{/showblog/{id}(id=${blog.id})}"
                   class="btn btn-outline-primary btn-sm">Изменить</a>
                <a th:href="@{/deleteblog/{id}(id=${blog.id})}"
                   class="btn btn-outline-danger btn-sm">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="/jquery-3.6.0.min.js"></script>
<script src="/jquery.dataTables.min.js"></script>
<script src="/dataTables.rowGroup.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#productTable tfoot th').each(function () {
            var title = $('#productTable thead th').eq($(this).index()).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        $('#productTable').DataTable({
            aoColumns: [
                {"sWidth": "5%"},
                {"sWidth": "15%"},
                {"sWidth": "25%"},
                {"sWidth": "45%"},
                // {"sWidth": "5%"},
                {"sWidth": "10%"}
            ],
            order: [
                [1, 'asc'],
                [2, 'asc'],
                [3, 'asc'],
                [4, 'asc']
            ],
            // columnDefs: [{
            //     visible: false,
            //     targets: [2]
            // } // Hide grouped columns
            // ],
            // rowGroup: {
            //     visible: false,
            //     dataSrc: [2]
            // },
            paging: true,
            ordering: true,
            searching: true,
            searchDelay: 500
        });
        // $('#dropdown1').on('change', function () {
        //     tableTab.columns(1).search(this.value).draw();
        // });
        // $('#dropdown2').on('change', function () {
        //     tableTab.columns(2).search(this.value).draw();
        // });
        // $('#dropdown3').on('change', function () {
        //     tableTab.columns(3).search(this.value).draw();
        // });
        $("#productTable tfoot input").on('keyup change', function () {
            tableTab
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
    });
</script>


<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/o0oxvbihfwv9vyvkzej8d772o57saextbl5mdgz1o2x6eibb/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
    tinymce.init({
        menubar: false,
        statusbar: false,
        selector: 'textarea',
        plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Nov 25, 2024:
            'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
            // Early access to document converters
            'importword', 'exportword', 'exportpdf'
        ],
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            {value: 'First.Name', title: 'First Name'},
            {value: 'Email', title: 'Email'},
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        exportpdf_converter_options: {
            'format': 'Letter',
            'margin_top': '1in',
            'margin_right': '1in',
            'margin_bottom': '1in',
            'margin_left': '1in'
        },
        exportword_converter_options: {'document': {'size': 'Letter'}},
        importword_converter_options: {'formatting': {'styles': 'inline', 'resets': 'inline', 'defaults': 'inline',}},
    });
</script>


</body>
</html>
