<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New JobPlace</title>
    <link rel="stylesheet"
          href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Новое рабочее место</h1>
    <hr>
    <h2>Сохранить рабочее место</h2>

    <form action="#" th:action="@{/savejobplace}" th:object="${jobplace}"
          method="POST">
        <input type="text" th:field="*{numberplace}" placeholder="Номер рабочего места"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{comment}" placeholder="Комментарий"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Сохранить рабочее место</button>
    </form>
    <hr>
    <a th:href="@{/jobplace}"> Возврат в список юридических лиц </a>
    <a th:href="@{/}"> Возврат основная страница </a>
</div>
</body>
</html>