<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сортировка и группировка таблицы</title>
    <link rel="stylesheet" href="/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/menu/menu.css">
    <!--    <script type="text/javascript">-->
    <!--        //Для фильтрации данных-->
    <!--        function filterByName(){-->
    <!--            const selectName = document.getElementById('id').valueOf();-->
    <!--            const rows = document.querySelectorAll('.entity-row');-->

    <!--            rows.forEach(row => {-->
    <!--                const name = row.getAttribute('name');-->
    <!--                if(name === selectName){-->
    <!--                    row.style.display = ''; //Показываем строку-->
    <!--                } else {-->
    <!--                    row.style.display = 'none'; //Скрываем строку-->
    <!--                }-->
    <!--            });-->
    <!--        }-->
    <!--    </script>-->
</head>
<body>
<nav>
    <ul class="topmenu">
        <li><a href="/">Главная -</a></li>
        <li><a href="" class="down">Справочник -</a>
            <ul class="submenu">
                <li><a href="/entity">Юр. лица</a></li>
                <li><a href="/division">Отдел / подразделения</a></li>
                <li><a href="/employee">Сотрудники</a></li>
                <li><a href="/jobplace">Рабочие места</a></li>
                <li><a href="/stepproject">Этапы проекта</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Проекты -</a>
            <ul class="submenu">
                <li><a href="/projectlist">Проекты</a></li>
                <li><a href="/planpayproject">План оплат проектов</a></li>
                <li><a href="/factpayment">Факт оплаты проектов</a></li>
                <li><a href="/binstorage">Хранилице файлов</a></li>
            </ul>
        </li>
        <li><a href="/schemadoc" class="down">Шаблоны -</a></li>
        <li><a href="/blog">Блог</a></li>
    </ul>
</nav>

<div class="mt-5 mb-4" style="text-align:center;">
    <h3>Список плана оплат проектов</h3>
    <a th:href="@{/addplanpayproject}" class="btn btn-primary btn-sm mb-3">Добавить план оплат проектов</a>
</div>
<!--Выпадающий список-->
<form method="get" th:action="@{/planpayproject}" class="justify-content:space-between">
    <label for="id_Project">Выберите проект:</label>
    <select name="idProject" id="id_Project" onchange="this.form.submit()">
        <option value="" disabled th:if="${project == null}" selected>- Выберите проект -</option>
        <option th:each="projectslist : ${projectslists}"
                th:value="${projectslist.getId()}"
                th:text="${projectslist.getName()}"
                th:selected="${projectslist.getId() == project}"></option>
    </select>
    <button th:if="${project != null}" type="button" id="exportButton" onclick="exportProject()">
        <img src="/icon/excel.png" alt="выгрузить в Excel" width="20" height="20">
    </button>
</form>

<script>
    function exportProject() {
        const select = document.getElementById('id_Project');
        const selectedId = select.value;
        if (selectedId) {
            window.location.href = '/api/export/planpayproject/' + selectedId;
        } else {
            alert('Пожалуйста, выберите проект перед экспортом.');
        }
    }
</script>

<style>
    /* Пример простого стилизования */
    select {
        width: 200px; /* Ширина выпадающего списка */
        padding: 5px; /* Внутренние отступы */
        margin-top: 10px; /* Отступ сверху */
    }

    label {
        font-weight: bold; /* Делаем текст метки жирным */
        margin-right: 10px; /* Отступ справа от метки */
    }
</style>
<div class="mb-4 justify-content-center align-items-center form-control">
    <table id="productTable" class="display">

        <thead>
        <div id="navbar">
            <tr>
                <th hidden="hidden"></th>
                <th width="6%">План на ГОД</th>
                <th>Отдел / подразделение</th>
                <th width="17%">Проект</th>
                <th width="6%">Дата оплаты</th>
                <th width="5%">Сумма OPEX</th>
                <th width="4%">НДС OPEX</th>
                <th width="5%">Сумма CAPEX</th>
                <th width="4%">НДС CAPEX</th>
                <th>Комментарий</th>
                <th>Этапы оплат проекта</th>
                <th>Длительность (неделя / месяц)</th>
                <th>Интервал</th>
                <th>Завершен</th>
                <!--                                <th>Завершен в срок</th>-->

                <th>Редакция</th>
                <!--                <th hidden="hidden"></th>-->
            </tr>
        </div>
        </thead>
        <tbody>
        <tr th:each="planpayproject : ${planpayprojects}">
            <td th:hidden="${planpayproject.id}"></td>
            <td th:text="${#dates.format(planpayproject.getPlanYear(), 'dd-MM-yyyy')}"></td>
            <td th:text="${planpayproject.libDivisionByProjectId.namedivision}"></td>
            <td th:text="${planpayproject.docProjectsListByPlanProject.name}"></td>
            <td th:text="${#dates.format(planpayproject.getDataPlaning(),'dd-MM-yyyy')}"></td>
            <td align="right"><span
                    th:text="${#numbers.formatDecimal(planpayproject.opex, 1, 'WHITESPACE', 2, 'POINT')} + ' ₽'">0.00</span>
            </td>
            <td align="right"><span
                    th:text="${#numbers.formatDecimal(planpayproject.opexNds, 1, 'WHITESPACE', 2, 'POINT')} + ' ₽'">0.00</span>
            </td>
            <td align="right"><span
                    th:text="${#numbers.formatDecimal(planpayproject.capex, 1, 'WHITESPACE', 2, 'POINT')} + ' ₽'">0.00</span>
            </td>
            <td align="right"><span
                    th:text="${#numbers.formatDecimal(planpayproject.capexNds, 1, 'WHITESPACE', 2, 'POINT')} + ' ₽'">0.00</span>
            </td>
            <td th:text="${planpayproject.comment}"></td>
            <td th:text="${planpayproject.stepProject}"></td>
            <td th:text="${planpayproject.duration}"></td>
            <td th:text="${planpayproject.interval}"></td>
            <!--        <td th:text="${planpayproject.completed} ? 'Оплачен' : '-'"></td>-->
            <td th:text="${planpayproject.completed && planpayproject.paymentOnTime}?'Оплачен вне графика': (${planpayproject.completed && !planpayproject.paymentOnTime} ? 'Оплачен по графику' : '-')"></td>

            <td><a th:href="@{/showplanpayproject/{id}(id=${planpayproject.id})}"
                   class="btn btn-outline-primary btn-sm" title="изменить">
                <img src="/icon/pen.png" alt="изменить" width="20" height="20"></a>
                <a th:href="@{/deleteplanpayproject/{id}(id=${planpayproject.id})}"
                   class="btn btn-outline-danger btn-sm" title="удалить">
                    <img src="/icon/del.png" alt="удалить" width="20" height="20"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/jquery-3.6.0.min.js"></script>
<script src="/jquery.dataTables.min.js"></script>
<script src="/dataTables.rowGroup.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // $('#example thead tfoot th').each(function() {
        //     var title = $('#example thead th').eq($(this).index() ).text();
        //     $(this).html('<input type="text" placeholder="Search '+title+'" />' );
        // });
        // // Инициализация DataTable
        // var table = $('#productTable').DataTable();
        // // Применение фильтра
        // $("#example thead tfoot input").on('keyup change', function() {
        //     table.column($(this).parent().index()+':visible').search(this.value).draw();
        // });
        $('#productTable tfoot th').each(function () {
            var title = $('#productTable thead th').eq($(this).index()).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        $('#productTable').DataTable({
            order: [
                // [0, 'asc'],
                [1, 'asc'],
                // [2, 'asc'],
                [3, 'asc'],
                [5, 'asc'],
                [6, 'asc'],
                [7, 'asc'],
                [8, 'asc'],
                [9, 'asc'],
                [10, 'asc'],
                [11, 'asc'],
                [12, 'asc'],
                [13, 'asc'],
            ],
            columnDefs: [{
                visible: false,
                targets: [2]
            } // Hide grouped columns
            ],
            rowGroup: {
                visible: false,
                dataSrc: [2]
            },
            paging: true,
            ordering: true,
            searching: true,
            searchDelay: 500
        });
        // $('#dropdown1').on('change', function () {
        //     tableTab.columns(1).search(this.value).draw();
        // });
        // $('#dropdown8').on('change', function () {
        //     tableTab.columns(8).search(this.value).draw();
        // });
        // $('#dropdown9').on('change', function () {
        //     tableTab.columns(9).search(this.value).draw();
        // });
        $("#productTable tfoot input").on('keyup change', function () {
            tableTab
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
    });
</script>

</body>
</html>