<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProjectList Management System</title>

    <link rel="stylesheet"
          href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Управление Плана оплат</h1>
    <hr>
    <h2>Обновить план оплат</h2>
    <div class="container">
        <div class="row mb-4 justify-content-center align-items-center form-control">
            <form action="#" th:action="@{/updateplanpayproject}" th:object="${planpayproject}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="d-flex align-items-center mb-2">
                    <label for="planYear" class="me-2" style="flex: 1; max-width: 230px;">Дата планирования :</label>
                    <input type="date" id="planYear" th:field="*{planYear}" placeholder="Дата планирования" class="form-control"
                           style="flex: 1; max-width: 120px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="division" class="me-2" style="flex: 1; max-width: 230px;">Отдел :</label>
                    <select id="division" th:field="*{libDivisionByProjectId.id}" style="flex: 1; max-width: 400px;" class="form-select">
                        <option th:each="division : ${divisions}" th:value="${division.id}"
                                th:text="${division.namedivision}">Выберите отдел...
                        </option>
                    </select>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="planproject_id" class="me-2" style="flex: 1; max-width: 230px;">Проект :</label>
                    <select id="planproject_id" th:field="*{docProjectsListByPlanProject.id}" style="flex: 1; max-width: 400px;" class="form-select">
                        <option th:each="projectslist : ${projectslists}" th:value="${projectslist.id}"
                                th:text="${projectslist.name}">проект...
                        </option>
                    </select>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="dataPlaning" class="me-2" style="flex: 1; max-width: 230px;">Дата оплаты :</label>
                    <input type="date" id="dataPlaning" th:field="*{dataPlaning}" placeholder="Дата оплаты" class="form-control"
                           style="flex: 1; max-width: 120px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="opex" class="me-2" style="flex: 1; max-width: 230px;">Сумма услуг (OPEX) :</label>
                    <input type="text" id="opex" th:field="*{opex}" placeholder="OPEX" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="opexNds" class="me-2" style="flex: 1; max-width: 230px;">Сумма услуг НДС (OPEX-НДС) :</label>
                    <input type="text" id="opexNds" th:field="*{opexNds}" placeholder="OPEX НДС (сумма)" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="capex" class="me-2" style="flex: 1; max-width: 230px;">Сумма оборудования (CAPEX) :</label>
                    <input type="text" id="capex" th:field="*{capex}" placeholder="Сумма оборудования/материала" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="capexNds" class="me-2" style="flex: 1; max-width: 230px;">Сумма оборудования (CAPEX) :</label>
                    <input type="text" id="capexNds" th:field="*{capexNds}" placeholder="CAPEX НДС (сумма)" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="comment" class="me-2" style="flex: 1; max-width: 230px;">Комментнарий :</label>
                    <input type="text" id="comment" th:field="*{comment}" placeholder="Комментарий" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <label for="stepProject" class="me-2" style="flex: 1; max-width: 230px;">Этап проекта:</label>
                    <input type="text" id="stepProject" th:field="*{stepProject}" placeholder="Этап проекта" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="duration" class="me-2" style="flex: 1; max-width: 230px;">Длительность:</label>
                    <input type="text" id="duration" th:field="*{duration}" placeholder="Длительность" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label for="interval" class="me-2" style="flex: 1; max-width: 230px;">Интервал :</label>
                    <input type="text" id="interval" th:field="*{interval}"
                           placeholder="Интервал" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="form-check form-switch d-flex align-items-center">
                    <label for="completed" style="flex: 1; max-width: 230px;">Оплачен: </label>
                    <input class="form-check-input me-5" role="switch" type="checkbox" id="completed" th:name="completed"
                           th:field="*{completed}" placeholder="Оплачен"/>

                    <label for="paymentOnTime" style="flex: 1; max-width: 230px;">Оплачен по плану: </label>
                    <input class="form-check-input" role="switch" type="checkbox" id="paymentOnTime"
                           th:name="paymentOnTime" th:field="*{paymentOnTime}" placeholder="Оплачен в срок"/>
                </div>


                <div class="row mt-3 mb-3 justify-content-center align-items-center" style="flex: 0; max-width: 600px;">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-info" style="white-space: nowrap; min-width: 150px;">Обновить данные</button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <a th:href="@{/schemadoc}"> Возврат к списоку проектов </a>
        <a th:href="@{/}"> Возврат основная страница </a>
    </div>
</div>
</body>
</html>