<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
    <persistence-unit name="libDivision">
        <class>kvo.menproject.project.entity.libDivision</class>
        <class>kvo.menproject.project.entity.docSchemaDoc</class>
        <class>kvo.menproject.project.entity.FileData</class>
        <class>kvo.menproject.project.entity.docProjectsList</class>
        <class>kvo.menproject.project.entity.libEmployee</class>
        <class>kvo.menproject.project.entity.LibJobPlace</class>
        <class>kvo.menproject.project.entity.libDivision</class>
        <class>kvo.menproject.project.entity.docPlanPayProject</class>
        <class>kvo.menproject.project.entity.sLibStepProject</class>
        <class>kvo.menproject.project.entity.sProjectsList</class>
        <class>kvo.menproject.project.entity.binStorage</class>
        <class>kvo.menproject.project.entity.sBinFiles</class>
        <class>kvo.menproject.project.entity.sBinProject</class>
        <class>kvo.menproject.project.entity.sPlanPayProject</class>
        <class>kvo.menproject.project.entity.docFaсtPayment</class>
        planpayproject
        <properties>
            <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/dev;shutdown=true"/>
            <property name="jakarta.persistence.jdbc.user" value="postgres"/>
            <property name="jakarta.persistence.jdbc.password" value="postgres"/>
            <property name="jakarta.persistence.schema-generation.database.action" value="create"/>
            <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/dev"/>
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <property name="hibernate.connection.username" value="postgres"/>
            <property name="hibernate.connection.password" value="postgres"/>
        </properties>
    </persistence-unit>
</persistence>