<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bin Storage List</title>
    <link rel="stylesheet" href="/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/menu/menu.css">
</head>
<body class="min-vh-100">
<nav>
    <ul class="topmenu">
        <li><a href="/">Главная -</a></li>
        <li><a href="" class="down">Справочник -</a>
            <ul class="submenu">
                <li><a href="/entity">Юр. лица</a></li>
                <li><a href="/division">Отдел / подразделения</a></li>
                <li><a href="/employee">Сотрудники</a></li>
                <li><a href="/jobplace">Рабочие места</a></li>
                <li><a href="/stepproject">Этапы проекта</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Проекты -</a>
            <ul class="submenu">
                <li><a href="/projectlist">Проекты</a></li>
                <li><a href="/planpayproject">План оплат проектов</a></li>
                <li><a href="/factpayment">Факт оплаты проектов</a></li>
                <li><a href="/binstorage">Хранилице файлов</a></li>
            </ul>
        </li>
        <li><a href="/schemadoc" class="down">Шаблоны -</a></li>
        <li><a href="/blog">Блог</a></li>
    </ul>
</nav>
<div class="mt-5 mb-4" style="text-align:center;">
    <h3>Список [хранилище файлов]</h3>
    <a th:href="@{/addbinstorage}" class="btn btn-primary btn-sm mb-3">Добавить документ</a>
</div>
<!--Выпадающий список-->
<form method="get" th:action="@{/binstorage}" class="justify-content:space-between">
    <label for="id_Project">Выберите проект:</label>
    <select name="idProject" id="id_Project" onchange="this.form.submit()">
        <option value="" disabled th:if="${project == null}" selected>- Выберите проект -</option>
        <option th:each="projectslist : ${projectslists}"
                th:value="${projectslist.getId()}"
                th:text="${projectslist.getName()}"
                th:selected="${projectslist.getId() == project}"></option>
    </select>
    <button th:if="${project != null}" type="button" id="exportButton" onclick="exportProject()">
        <img src="/icon/excel.png" alt="выгрузить в Excel" width="20" height="20">
    </button>
</form>
<script>
    function exportProject() {
        const select = document.getElementById('id_Project');
        const selectedId = select.value;
        if (selectedId) {
            window.location.href = '/api/export/planpayproject/' + selectedId;
        } else {
            alert('Пожалуйста, выберите проект перед экспортом.');
        }
    }
</script>
<style>
    /* Пример простого стилизования */
    select {
        width: 200px; /* Ширина выпадающего списка */
        padding: 5px; /* Внутренние отступы */
        margin-top: 10px; /* Отступ сверху */
    }

    label {
        font-weight: bold; /* Делаем текст метки жирным */
        margin-right: 10px; /* Отступ справа от метки */
    }
</style>
<div class="mb-4 justify-content-center align-items-center form-control">
    <!--моя вставка-->
    <!--            <div class="container my-2" align="center">-->
    <!--            <div align="center">-->
    <table id="productTable" class="display">
        <thead>
        <div id="navbar">
            <tr>
                <th>Наименование проекта</th>
                <th>Этап проекта</th>
                <!--                        <th>Название файла</th>-->
                <th>Размер файла</th>
                <th>Дата создания</th>
                <th>Комментарий</th>
                <th>Файл</th>
                <th>Добавить файл</th>
                <th>Редакция</th>
            </tr>
        </div>
        </thead>
        <tbody>
        <tr th:each="binstorage:${binstorages}">
            <td th:hidden="${binstorage.id}"></td>
            <td th:text="${binstorage.projectsListByNameProject.name}"></td>
            <td th:text="${binstorage.libStepProjectByStepProject.nameStepProject}"></td>
            <!--                        &lt;!&ndash;                        <td th:text="${#dates.format(schemdoc.getDateCreate(), 'dd-MM-yyyy')}"></td>&ndash;&gt;-->
            <!--                        <td th:text="${binstorage.nameFile}"></td>-->
            <td th:text="${binstorage.dateCreate}"></td>
            <td th:text="${#dates.format(binstorage.getDateCreate(), 'dd-MM-yyyy')}"></td>
            <td th:text="${binstorage.comments}"></td>
            <td>
                <!--                            <li th:text="${file.getName()}" th:each="file:${fileData}"></li>-->
                <ul>
                    <li th:each="file : ${fileData}"
                        th:if="${file.getId_Data() == binstorage.getId()}">
                        <a th:href="@{/download/{id}(id=${file.getId()})}"
                           th:text="${file.getName()}" target="_blank"
                           download="true">
                        </a>
                    </li>
                </ul>
            </td>

            <td>
                <form action="/uploadbinstorage" method="post" enctype="multipart/form-data"
                      id="uploadForm">
                    <div>
                        <input type="hidden" name="binstorageId" th:value="${binstorage.id}"/>
                        <!--                                    <style>-->
                        <!--                                        .form-control {-->
                        <!--                                            bs-border-color: #0d6efd;-->
                        <!--                                            color: #0d6efd;-->
                        <!--                                        }-->
                        <!--                                    </style>-->
                        <input class="form-control form-control-sm" type="file" name="file" id="fileInput"
                               accept=".jpg,.jpeg,.png,.gif,.doc,.docx,.xls,.xlsm,.xlsx,.dot,.xlst,.txt,.srv,.reg,.pdf"
                               onchange="this.form.submit();"
                               style="bs-border-color:#0d6efd; color:#0d6efd;"/>
                    </div>
                </form>
            </td>
            <script type="text/javascript">
                document.getElementById("fileInput").addEventListener('change', function () {
                    const file = this.files[0];
                    const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.pdf|\.doc|\.docx|\.xls.|\.xlsm|\.xlsx|\.dot|\.xlst|\.txt|\.srv|\.reg)$/i; // Задайте разрешенные типы файлов

                    if (file) {
                        if (!allowedExtensions.exec(file.name)) {
                            this.value = ''; // Отменяем выбор файла
                            // this.files[0] = null;
                            alert('Недопустимый файл типа! Выберите jpg,jpeg,png,gif,doc,docx,xls,xlsx,dot,xlst,txt,srv,reg или pdf.');
                        } else {
                            document.getElementById('uploadForm').submit(); // Отправляем форму, если файл правильного типа
                        }
                    }
                });
            </script>
            <!--                        const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.txt|\.doc|\.docx|\.xls|\.xlsx|\.pdf|\.cer|\.vsdx|\.sql)$/i; // Задайте разрешенные типы файлов-->
            <td><a th:href="@{/showbinstorage/{id}(id=${binstorage.id})}"
                   class="btn btn-outline-primary btn-sm" title="изменить">
                <img src="/icon/pen.png" alt="изменить" width="20" height="20"></a>
                <a th:href="@{/deletebinstorage/{id}(id=${binstorage.id})}"
                   class="btn btn-outline-danger btn-sm" title="удалить">
                    <img src="/icon/del.png" alt="удалить" width="20" height="20"></a>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>