<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BinStorage System</title>

    <link rel="stylesheet"
          href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Управление системой файлового хранилища</h1>
    <hr>
    <h2>Обновить форму файлового хранилища</h2>

    <form action="#" th:action="@{/savebinstorage}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="${binstorage.id}"/>
        <!--        <div class="d-flex align-items-center mb-2">-->
        <!--            &lt;!&ndash;    <form action="#" th:action="@{/api/files/upload}" method="POST" enctype="multipart/form-data">&ndash;&gt;-->
        <!--            <label for="binstorage">Наименование проекта:</label>-->
        <!--            <input type="text" id="binstorage" th:field="${binstorage.nameProject}" placeholder="Наименование проекта"-->
        <!--                   class="form-control mb-4 col-4"/>-->
        <!--        </div>-->
        <div class="d-flex align-items-center mb-2">
            <label for="id_projectsList">Выберите проект:</label>
            <!-- сохраняем в linkDivisionByIdDivision выбор division и в Controller передаем в id_division -->
            <select th:name="projectsListByNameProject" id="id_projectsList">
                <!--                <option value="" disabled selected>Отдел</option>-->
                <th:block th:each="projectslist : ${projectslists}">
                    <option th:value="${projectslist.id}" th:text="${projectslist.name}"></option>
                </th:block>
            </select>
        </div>
        <div class="d-flex align-items-center mb-2">
            <label for="id_stepproject">Выберите этап проекта:</label>
            <!-- сохраняем в libStepProjectByStepProject выбор stepproject и в Controller передаем в id_stepproject -->
            <select th:name="libStepProjectByStepProject" id="id_stepproject">
<!--                <option value="libStepProjectByStepProject"></option>-->
                <th:block th:each="stepproject : ${stepprojects}">
                    <option th:value="${stepproject.id}" th:text="${stepproject.nameStepProject}"></option>
                </th:block>
            </select>
        </div>
        <div class="d-flex align-items-center mb-2">
            <label for="dCreate">Дата создания:</label>
            <input type="date" id="dCreate" th:name="dateCreate" th:value="${binstorage.dateCreate}"
                   placeholder="Дата создания" class="form-control mb-4 col-4"/>
        </div>
        <div class="d-flex align-items-center mb-2">
            <label for="comments">Комментарий:</label>
            <input type="text" id="comments" th:name="comments" th:value="${binstorage.comments}"
                   placeholder="Комментарий" class="form-control mb-4 col-4"/>
        </div>
        <!--        <div class="form-check form-switch">-->
        <!--            <label for="curr">Действующий шаблон:</label>-->
        <!--            <input class="form-check-input" role="switch" type="checkbox" id="curr" th:name="current" th:field="${schemadoc.current}"-->
        <!--                   placeholder="Действующий шаблон"/>-->
        <!--        </div>-->
        <!--        <div class="row mb-4 justify-content-center align-items-center" style="flex: 0; max-width: 600px;">-->
        <!--            <button type="submit" class="btn btn-info col-2">Сохранить шаблон</button>-->
        <!--        </div>-->
        <!-- Add hidden form field to handle update -->
        <!--        <input type="hidden" th:field="*{id}" />-->

        <!--        <label for="schemaname">Наименование:</label>-->
        <!--        <input type="text" id="schemaname" th:field="*{name}" class="form-control mb-4 col-4">-->

        <!--        <label for="schemaDate">Дата создания:</label>-->
        <!--        <input type="text" id="schemaDate" th:field="*{dateCreate}" class="form-control mb-4 col-4">-->

        <!--        <label for="current">Действующий шаюлон:</label>-->
        <!--        <input type="text" id="current" th:field="*{current}" class="form-control mb-4 col-4">-->

                <button type="submit" class="btn btn-info col-2"> обновить шаблон</button>
    </form>

    <hr>

    <a th:href="@{/schemadoc}"> список шаблон </a>
</div>
</body>
</html>