<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProjectList Management System</title>

    <link rel="stylesheet"
          href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>План оплат</h1>
    <hr>
    <h2>Обновить оплату</h2>
    <div class="container">
        <div class="row mb-4 justify-content-center align-items-center form-control">
            <form action="#" th:action="@{/updatefactpayment}" th:object="${factpayments}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="d-flex align-items-center mb-2">
                    <label for="planYear" class="me-2" style="flex: 1; max-width: 230px;">Дата оплаты :</label>
                    <input type="date" id="planYear" th:field="*{dataPayDoc}" placeholder="Дата оплаты"
                           class="form-control"
                           style="flex: 1; max-width: 120px;"/>
                    <span id="dateError"
                          style="color: red; display: none;">Пожалуйста, введите дату в формате dd-MM-yyyy</span>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <label for="project_id" class="me-2" style="flex: 1; max-width: 230px;">Проект :</label>
                    <!-- сохраняем в linkDivisionByIdDivision выбор division и в Controller передаем в id_division -->
                    <select id="project_id" th:field="*{projectsListByProjectId.id}" style="flex: 1; max-width: 400px;"
                            class="form-select">
                        <th:block th:each="projectslist : ${projectslists}">
                            <option th:value="${projectslist.id}" th:text="${projectslist.name}"></option>
                        </th:block>
<!--                    TODO проверить как работатет этот блок    -->
<!--                        <option th:each="projectslist : ${projectslists}" th:value="${projectslists}"-->
<!--                                th:text="${projectslist.name}">Выберите проект...-->
<!--                        </option>-->
                    </select>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="planpayproject_id" class="me-2" style="flex: 1; max-width: 230px;">Этап проекта :</label>
                    <!-- сохраняем в linkDivisionByIdDivision выбор division и в Controller передаем в id_division -->
                    <select id="planpayproject_id" th:field="*{planPayProjectById.id}" style="flex: 1; max-width: 400px;"
                            class="form-select">
<!--                        <option value="" disabled selected>этап проекта ...</option>-->
                        <th:block th:each="planpayproject : ${planpayprojects}">
                            <option th:value="${planpayproject.id}" th:text="${planpayproject.stepProject}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <label for="opex" class="me-2" style="flex: 1; max-width: 230px;">Сумма услуг (OPEX) :</label>
                    <input type="text" id="opex" th:field="*{sumOpex}" placeholder="OPEX" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="opexNds" class="me-2" style="flex: 1; max-width: 230px;">Сумма услуг НДС (OPEX-НДС)
                        :</label>
                    <input type="text" id="opexNds" th:field="*{sumOpexNds}" placeholder="OPEX НДС (сумма)"
                           class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="capex" class="me-2" style="flex: 1; max-width: 230px;">Сумма оборудования (CAPEX) :</label>
                    <input type="text" id="capex" th:field="*{sumCapex}" placeholder="Сумма оборудования/материала"
                           class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="capexNds" class="me-2" style="flex: 1; max-width: 230px;">Сумма оборудования (CAPEX)
                        :</label>
                    <input type="text" id="capexNds" th:field="*{sumCapexNds}" placeholder="CAPEX НДС (сумма)"
                           class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="comment" class="me-2" style="flex: 1; max-width: 230px;">Комментнарий :</label>
                    <input type="text" id="comment" th:field="*{commetns}" placeholder="Комментарий" class="form-control"
                           style="flex: 1; max-width: 400px;"/>
                </div>

                <!--            <div class="d-flex align-items-center mb-2">-->
                <!--                <label for="status" class="me-2" style="flex: 1; max-width: 230px;">Статус:</label>-->
                <!--                <input type="text" id="status" th:field="*{status}" placeholder="Статус"-->
                <!--                       class="form-control"-->
                <!--                       style="flex: 1; max-width: 400px;"/>-->
                <!--            </div>-->
                <div class="d-flex align-items-center">
                    <label for="status" class="me-2" style="flex: 1; max-width: 230px;">Статус:</label>
                    <select th:type="text" id="status" th:field="*{statusFact}" class="form-control" placeholder="Статус"  style="flex: 1; max-width: 400px;">
                        <option th:each="status : ${statuss}"
                                th:value="${status}"
                                th:text="${status}"/>
                    </select>
                </div>
                <div class="form-check form-switch d-flex align-items-center">
                    <label for="completed" style="flex: 1; max-width: 230px;">Оплачен: </label>
                    <input class="form-check-input me-1" role="switch" type="checkbox" id="completed" th:name="paid"
                           th:field="*{paid}" placeholder="Оплачен"/>

                    <!--                <label for="paymentOnTime" style="flex: 1; max-width: 230px;">Оплачен по плану: </label>-->
                    <!--                <input class="form-check-input" role="switch" type="checkbox" id="paymentOnTime"-->
                    <!--                       th:name="paymentOnTime" th:field="*{paymentOnTime}" placeholder="Оплачен в срок"/>-->
                </div>


                <div class="row mt-3 mb-5 justify-content-center align-items-center" style="flex: 0; max-width: 600px;">
                    <!--                    <button type="submit" class="btn btn-info col-1" style="white-space: nowrap;">Обновить данные</button>-->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-info" style="white-space: nowrap; min-width: 150px;">Обновить
                            данные
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <a th:href="@{/schemadoc}"> Возврат к списоку проектов </a>
        <a th:href="@{/}"> Возврат основная страница </a>
    </div>
</div>
</body>
</html>