<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>

    <link rel="stylesheet"
          href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Управление системой Юридических лиц</h1>
    <hr>
    <h2>Обновить Юридическое лицо</h2>

    <form action="#" th:action="@{/saveemployee}" th:object="${employee}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{fio}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{position}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{coments}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{active}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> обновить данные по сотруднику</button>
    </form>

    <hr>

    <a th:href = "@{/employee}"> список Юридических лиц </a>
</div>
</body>
</html>