<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <title>Форма</title>
  <script src="/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/menu/menu.css">
</head>

<body>
<!--<nav>-->
<!--  <ul class="topmenu">-->
<!--    <li><a href="/">Главная -</a></li>-->
<!--    <li><a href="" class="down">Справочник -</a>-->
<!--      <ul class="submenu">-->
<!--        <li><a href="/entity">Юр. лица</a></li>-->
<!--        <li><a href="/division">Отдел / подразделения</a></li>-->
<!--        <li><a href="/employee">Сотрудники</a></li>-->
<!--        <li><a href="/jobplace">Рабочие места</a></li>-->
<!--        <li><a href="/stepproject">Этапы проекта</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li><a href="" class="down">Проекты -</a>-->
<!--      <ul class="submenu">-->
<!--        <li><a href="/projectlist">Проекты</a></li>-->
<!--        <li><a href="/planpayproject">План оплат проектов</a></li>-->
<!--        <li><a href="/factpayment">Факт оплаты проектов</a></li>-->
<!--        <li><a href="/binstorage">Хранилице файлов</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li><a href="/schemadoc" class="down">Шаблоны -</a></li>-->
<!--    <li><a href="/blog">Блог</a></li>-->
<!--  </ul>-->
<!--</nav>-->


<form action="#" method="post">

  <label for="category">Категория:</label>

  <select id="category" name="category">

    <option value="">Выберите категорию</option>

    <th:block th:each="category : ${categories}">

      <option th:text="${category[1]}" th:value="${category[0]}"></option>

    </th:block>

  </select>



  <label for="subcategory">Подкатегория:</label>

  <select id="subcategory" name="subcategory">

    <option value="">Выберите подкатегорию</option>

  </select>

</form>



<script type="text/javascript">

  $(document).ready(function () {

    $('#category').change(function () {

      var categoryId = $(this).val();

      $('#subcategory').empty(); // Очистка подкатегорий



      if (categoryId) {

        $.ajax({

          url: '/form/subcategories',

          type: 'GET',

          data: {categoryId: categoryId},

          success: function (data) {

            $('#subcategory').append('<option value="">Выберите подкатегорию</option>');

            $.each(data, function (key, subcategory) {

              $('#subcategory').append('<option value="' + subcategory.idSub + '">' + subcategory.name + '</option>');

            });

          }

        });

      } else {

        $('#subcategory').append('<option value="">Выберите подкатегорию</option>');

      }

    });

  });

</script>



</body>

</html>