<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Division Management System</title>

    <link rel="stylesheet"
          href="/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Управление системой Подразделение</h1>
    <hr>
    <h2>Обновить подразделение</h2>

    <form action="#" th:action="@{/savedivision}" th:object="${division}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{namedivision}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{organisation}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{active}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> обновить подразделение</button>
    </form>

    <hr>

    <a th:href = "@{/division}"> список подразделений </a>
</div>
</body>
</html>